/* Обнуление */
*,*::before,*::after {box-sizing: border-box;} ul[class],ol[class] {padding: 0;}
body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd {padding: 0;margin: 0;}
body {min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: 1.5;}
ul[class],ol[class] {list-style: none;} a:not([class]) {text-decoration-skip-ink: auto;}
img {max-width: 100%;display: block;} article > * + * {margin-top: 1em;}
input,button,textarea,select {font: inherit;} @media (prefers-reduced-motion: reduce)
{* {animation-duration: 0.01ms !important;animation-iteration-count: 1 !important;transition-duration: 0.01ms !important;scroll-behavior: auto !important;}}

/* Цвета */
/* #dcdcdc - gray
#2d2f31 - dark gray
#ffffff - white */
/* border: #ff0000 1px solid; */

body {
    background-color: #2d2d2d;
    height: 100%;
    width: 100%;
}

.main {
    margin: 0 auto;
    grid-template-columns: 0.6fr 1.5fr;
    grid-template-rows: 0.6fr 1fr;
    display: grid;
    min-height: 1108px;
    max-height: 100vh;
    max-width: 1003px;
    color: #2d2d2d;
}

.box-1 {
    background-color: #dcdcdc;
}

.box-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #fff;
}

.title {
    font-size: 30px;
    font-weight: 400;
}

.subtitle {
    font-size: 20px;
}

.info {
    width: 550px;
    margin-left: 100px;
    margin-top: 50px;
}

.name {
    margin-top: 70px;
    margin-left: 100px;
    width: 180px;
    font-size: 45px;
    color: #2d2d2d;
}

.dev {
    color: #2d2d2d;
    padding-left: 10px;
    width: 230px;
    background-color: #dcdcdc;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
}

.box-3 {
    background-color: #2d2d2d;
}

.infoB3 {
    color: #dcdcdc;
    margin-top: 70px;
    margin-left: 50px;
}

#Y {
    margin-left: 50px;
}